<p-sidebar [(visible)]="display" position="right">
    <div class="main-container">

        <span>TEST A</span>
        <div class="inner-container">
            <p-button label="1-1" class=".default-child"></p-button>
            <p-button label="1-2" class=".default-child"></p-button>
            <p-button label="1-3" class=".default-child"></p-button>
            <p-button label="1-4" class=".default-child"></p-button>
            <p-button label="1-5" class=".default-child"></p-button>
            <p-button label="1-6" class=".default-child"></p-button>
        </div>
        <span>TEST A</span>
        <div class="inner-container">
            <p-button label="2-1" class=".default-child"></p-button>
            <p-button label="2-2" class=".default-child"></p-button>
            <p-button label="2-3" class=".default-child"></p-button>
            <p-button label="2-4" class=".default-child"></p-button>
            <p-button label="2-5" class=".default-child"></p-button>
            <p-button label="2-6" class=".default-child"></p-button>
        </div>
        <span>TEST A</span>
        <div class="inner-container">
            <p-button label="3-1" class=".default-child"></p-button>
            <p-button label="3-2" class=".default-child"></p-button>
            <p-button label="3-3" class=".default-child"></p-button>
            <p-button label="3-4" class=".default-child"></p-button>
            <p-button label="3-5" class=".default-child"></p-button>
            <p-button label="3-6" class=".default-child"></p-button>
        </div>
        <span>TEST A</span>
    </div>
</p-sidebar>
