div.col-container {
    display: flex;
    // flex-direction: column;
    // flex-wrap: nowrap; // default
    flex-flow: column nowrap; // shorthand of above two properties
    justify-content: flex-start; // default
    align-items: stretch; // default - need to look into this more
    // align-content: flex-start; // not used with nowrap
    gap: 5px 100px; // row gap, column gap, gap between items
}

div.col-container-left {
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 25px 100px;
}

div.row-container {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: stretch;
    // align-content: flex-start;
    gap: 5px 5px;
}

.default-child {
    order: 0; // default 
    flex: 0 1 auto; // default - shorthand for flex-grow, flex-shrink, and flex-basis
    align-self: auto; // default - overwrides parent align-item if needed
}

.child-left {
    order: 0; // default 
    flex: 0 1 auto; // default - shorthand for flex-grow, flex-shrink, and flex-basis
    align-self: flex-start; // overwrides parent align-item
}
