<p-sidebar [(visible)]="display" position="right">
    <div class="col-container">

        <app-pdf-panel-menu 
            [editMenuVisible]="editMenuVisible"
            (newMenuCommandEvent)="panelMenuCommand=$event"
        ></app-pdf-panel-menu>

        <div style="padding-top: 30px;"></div>

        <!-- LOAD PDF -->
        <div *ngIf="panelMenuCommand === panelMenuCommands.loadPdfUrl" class="row-container child-left">
            <span class="p-float-label">
                <input pInputText style="height: 40px; width: 220px;" id="loadInputtext" [(ngModel)]="pdfUrlLoad"/>
                <label for="loadInputtext">Load PDF URL...</label>
            </span>
            <button pButton class="default-child"  icon="fa-solid fa-eye" (onClick)="onClickLoadPdfUrl()"></button>
        </div>

        <!-- DOWNLOAD PDF -->
        <div *ngIf="panelMenuCommand === panelMenuCommands.downloadPdfUrl" class="row-container child-left">
            <span class="p-float-label">
                <input pInputText style="height: 40px; width: 220px;" id="downloadInputtext" [(ngModel)]="pdfUrlDownload"/>
                <label for="downloadInputtext">Download PDF URL...</label>
            </span>
            <button pButton class="default-child" icon="fa-solid fa-download" (onClick)="onClickDownloadPdfUrl()"></button>
        </div>

        <!-- SET PDF NAME -->
        <div *ngIf="panelMenuCommand === panelMenuCommands.setPdfName" class="col-container child-left">
            <div class="child-left" style="font-weight: bold;">
                PDF Name:
            </div>
            <div *ngIf="selectedPdfReq" class="child-left" style="overflow-wrap: anywhere;">
                {{selectedPdfReq.given_name}}
            </div>
            <div class="row-container child-left" style="padding-top: 20px;">
                <span class="p-float-label">
                    <input pInputText style="height: 40px; width: 220px;" id="PDFNameInputtext" [(ngModel)]="pdfName"/>
                    <label for="PDFNameInputtext">Set PDF Name...</label>
                </span>
                <button pButton class="default-child" icon="fa-solid fa-file-signature" (onClick)="onClickSetPdfName()"></button>
            </div>
        </div>

        <!-- VIEW ALL PDF -->
        <div *ngIf="panelMenuCommand === panelMenuCommands.allDownloadedPdf" class="col-container-left">
            <div *ngFor="let pdf of validPdfs" class="default-child">
                <p-button label="{{pdf.percent==100 ? 'Load' : pdf.percent+'%'}}" (onClick)="onClickLoadedPdf(pdf)"></p-button>
                <span style="overflow-wrap: anywhere;">
                    {{pdf.given_name}}
                </span>
            </div>
        </div>

    </div>
</p-sidebar>
