version: '3'

services:
    frontend:
        build: 
            context: ./frontend
            args: 
                APP_ENV: dev  # dev or prod
        volumes:
            - ./frontend/app/:/app/frontend/
            - /app/frontend/node_modules
            - /app/frontend/node_modules_DELETE
    backend:
        build: 
            context: ./backend
            args: 
                APP_ENV: dev  # dev or prod
        ports:
            - "5001:8081"  # debugging port
        volumes:
            - ./backend:/app/backend
        environment:
            FLASK_DEBUG: 0
